In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
stations = ['FOL', 'AFO', 'AWB', 'AWP']
frames = {}

In [3]:
for i in stations:
    station = pd.read_csv(os.path.join('S:/DWR/VOL1/BayDeltaDRV/Tributaries/American River/American River Temperature Compilation/Time Series Data/'+i+'.csv'), 
                          parse_dates=True, index_col=0, usecols=[1,2])
    rolling = round(station.rolling(7).mean().groupby(station.index.month).mean(),1)
    rollingMax=round(station.rolling(7).mean().groupby(station.index.month).max(), 1)
    rolling.index.name = None
    rolling.rename(index={1 :'January',
                      2 :'February',
                      3 : 'March',
                      4 : 'April',
                      5 : 'May',
                      6 : 'June',
                      7 : 'July',
                      8 : 'August',
                      9 : 'September',
                      10 : 'October', 
                      11 : 'November',
                      12 : 'December'},
                      columns = {"Maximum" : "Monthly average of 7DADM"},
                      inplace=True)
    rollingMax.index.name = None
    rollingMax.rename(index={1 :'January',
                      2 :'February',
                      3 : 'March',
                      4 : 'April',
                      5 : 'May',
                      6 : 'June',
                      7 : 'July',
                      8 : 'August',
                      9 : 'September',
                      10 : 'October', 
                      11 : 'November',
                      12 : 'December'},
                      columns = {"Maximum" : "Max 7DADM"},
                      inplace=True)
    gb = station.rolling(7).mean().groupby(station.index.month)
    groups=dict(list(gb))
    percentages = []
    for j in range(1,13):
        percentages.append(int(groups[j][(groups[j]<=64)].count()/(groups[j].count())*100))
    percentage_table = pd.DataFrame(percentages, index=['January', 
                                                    'February',
                                                    'March', 
                                                    'April',
                                                    'May', 
                                                    'June', 
                                                    'July',
                                                    'August', 
                                                    'September', 
                                                    'October',
                                                    'November', 
                                                    'December'], 
                                                    columns=['Max'])
    percentage_table.rename(columns={'Max' : '% days within month that EPA criteria met'}, 
                        inplace=True)
    table = pd.concat([rollingMax, rolling, percentage_table], axis=1)
    frames[i] = table

In [4]:
# Example cell from Marysville
station
#rolling
# rollingMax
# percentage_table

            Maximum
Date
2000-10-11    61.70
2000-10-12    64.40
2000-10-13    64.40
2000-10-14    65.30
2000-10-15    66.20
2000-10-16    66.20
2000-10-17    66.20
2000-10-18    66.20
2000-10-19    66.20
2000-10-20    65.30
2000-10-21    64.40
2000-10-22    63.50
2000-10-23    64.40
2000-10-24    65.30
2000-10-25    63.50
2000-10-26    62.60
2000-10-27    64.40
2000-10-28    62.60
2000-10-29    63.50
2000-10-30    62.60
2000-10-31    63.50
2000-11-01    62.60
2000-11-02    63.50
2000-11-03    63.50
2000-11-04    63.50
2000-11-05    62.60
2000-11-06    61.70
2000-11-07    61.70
2000-11-08    60.80
2000-11-09    59.90
...             ...
2019-09-01    66.56
2019-09-02    66.92
2019-09-03    66.74
2019-09-04    66.74
2019-09-05    66.38
2019-09-06    67.28
2019-09-07    66.38
2019-09-08    67.64
2019-09-09    68.36
2019-09-10    67.82
2019-09-11    67.28
2019-09-12    68.00
2019-09-13    68.54
2019-09-14    68.00
2019-09-15    67.46
2019-09-16    65.84
2019-09-17    67.10
2019-09-18    65.48
2019-09-19    66.20
2019-09-20    66.38
2019-09-21    66.92
2019-09-22    66.02
2019-09-23    66.74
2019-09-24    67.10
2019-09-25    68.00
2019-09-26    68.00
2019-09-27    64.94
2019-09-28    64.40
2019-09-29    64.40
2019-09-30    64.04

[6929 rows x 1 columns]

In [5]:
frames['AFO']

,Max 7DADM,Monthly average of 7DADM,% days within month that EPA criteria met
January,54.0,48.6,100
February,53.3,48.3,100
March,58.3,50.6,100
April,63.9,54.0,100
May,64.1,56.9,99
June,66.9,59.2,95
July,70.4,62.5,72
August,71.9,64.6,45
September,72.8,65.0,40
October,70.9,63.1,62
November,68.0,58.5,97
December,59.5,52.8,100

In [6]:
with pd.ExcelWriter('S:/DWR/VOL1/BayDeltaDRV/Tributaries/American River/American River Temperature Compilation/Data Tables/DADM_tables.xlsx') as writer:
    frames['FOL'].to_excel(writer, sheet_name='Below Folsom Dam')
    frames['AFO'].to_excel(writer, sheet_name='At Fair Oaks Blvd')
    frames['AWB'].to_excel(writer, sheet_name='At Watt Avenue Bridge')
    frames['AWP'].to_excel(writer, sheet_name='At William B Pond Park')